*, *::before, *::after {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal; 
}

body {
   /* so background fills entire screen*/
  padding: 0;
  margin: 0;
  background: linear-gradient(to right,#fdbfbc,#08c7bd);
}

.calculator-grid {
display: grid;
justify-content: center;
align-content: center;
/* Center vertically so fills 100% of height at all times */
min-height: 100vh; 
/* This creates the calculator columns; 4 columns at 100 px wide */
grid-template-columns: repeat(4,100px);
/* This creates the calculator rows; 
The min/max is set bc the first row is the results row and can grow depending on how big the number is
5 rows at 100 px wide so buttons can be exactly square*/
grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255,255,255, .55);
}

.calculator-grid > button:hover {
  background-color: rgba(255,255,255, .90);
}

.span-two {
  grid-column: span 2;

}

.output {
  /* Span from column 1 to last column */
  grid-column: 1 /-1;
  background-color: rgba(128,128,128, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255,255,255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

/*created with tutorial from youtube (https://www.youtube.com/watch?v=j59qQ7YWLxw) for Day 2 of my #100daysofcoding challenge*/